[2021-01-18 07:29] kitlangton opened #1 "Add more tests and complicated examples to make sure nothing blows up 💣"
I'd like to gather some involuted, real-world ZLayers and see if they can all be successfully constructed _magically_. Let's put these macros through their paces! 💪👵👍

[2021-01-19 16:40] kitlangton commented on #1
- [ ] Deeply nested layers
- [ ] Parameterized layers `SomeService[A]`
- [ ] ???

[2021-01-19 18:36] octavz opened #2 "Publish it"
Hi,

This looks very cool and very useful for beginners and not only.
I am willing to give it a try and report back, we have a lot of ZIO code.
This being a compile time feature, it can't do a lot of harm even if is not production ready so please publish it, otherwise is not usable.

BTW this is a very good idea, I don't know why others didn't think about earlier, layers are  quite difficult to co

[2021-01-19 18:39] jaredmdobson commented on #2
Yeah let me know if you need any help setting up github action workflow to publish it.

[2021-01-19 19:55] kitlangton commented on #2
Luckily, I've already gone through the Sonatype account creation dance. So I think the next step is to open a *New Project* ticket, which I've done [here](https://issues.sonatype.org/browse/OSSRH-63533).

[2021-01-19 19:56] kitlangton commented on #2
Though I do feel like one shouldn't be able to describe the setup as "easy" if it involves creating an account and issue upon a weird, semi-automatic Jira board 😝
<img width="489" alt="image" src="https://user-images.githubusercontent.com/7587245/105085909-4e71e200-5a4d-11eb-9c5d-4f8639270303.png">

[2021-01-19 20:22] jaredmdobson commented on #2
@kitlangton yeah for sure!  do you have a preferred communication tool? irc, slack, gitter, discord, you name it i'd be glad to talk you through it or just message you here. 👍🏿 really cool stuff 🔥

[2021-01-19 20:25] kitlangton commented on #2
Thanks :) @jaredmdobson

As the ZIO community's on discord, I've been using that lately. My account there is kit#1927 🎉  Looking forward to chatting!

[2021-01-19 22:27] kitlangton commented on #2
@jaredmdobson @octavz
Not fully published to Maven central. But I believe I've added a snapshot!? 😮

Please bear with me as figure out the best way to get this to work 😄. That being said, let me know if this is totally broken for ya.

[2021-01-20 07:51] octavz opened #4 "More deps are needed for real world app"
Hi,

On the main app layer i have more than deps. So I think it needs more, or just let me provide a list or something.

[2021-01-20 08:44] octavz commented on #2
the snapshot works, I will open extra issues but for now it seems quite ok.

[2021-01-20 13:54] phderome opened #5 "port to Scala 3"
It would be nice to do this in 2021 as Scala 3 should become official soon.

[2021-01-20 16:12] kitlangton commented on #4
Whoops. Didn’t mean to close!
Cool ;) Thanks for the real world feedback. The only limit to adding more overloads is that IntelliJ can get overwhelmed.

Unfortunately, a list will not work because I need access to the types, at least, I believe it won’t—I’ll do some more explorations, as it would be nicer to both implement and use if I could accept variadic arguments.

In case that is not possible

[2021-01-20 18:37] kitlangton commented on #4
OH! IT IS POSSIBLE! Bless you @octavz! You just helped me delete 90% of the code in this thing _and_ simplified the call-site.

[2021-01-20 18:55] kitlangton commented on #4
` 14 files changed, 98 insertions(+), 2831 deletions(-) ` _and_ it works better <3

[2021-01-20 18:55] #4 closed

[2021-01-20 19:37] octavz commented on #4
22 is prett yrandom, we have small modules and i easily gathered around 25, given the fact that every zio lib will also provide functionality as a layer is easy to pile up. Ofc we used ++ but I'd prefer to not use that at all unless tgey are top level.

[2021-01-20 19:41] octavz commented on #4
Also i couldn't figure out how to use provideSome with a lot of layers.  Having  provideSomeMagic in between could help with the layers pile, but it doesn't work with a lot of layers.

Other than that we already committed code in repos with zio-magic. :)  Great work. Thanks!

[2021-01-20 21:32] kitlangton commented on #4
Oh! Now it should work w/ varargs actually. So no limits! @octavz

[2021-01-20 21:33] kitlangton commented on #4
Try using the non-snapshot: `"io.github.kitlangton" %% "zio-magic" % "0.1.3"

[2021-01-20 22:59] kitlangton commented on #2
https://search.maven.org/artifact/io.github.kitlangton/zio-magic_2.13 👯

[2021-01-20 22:59] #2 closed

[2021-01-22 07:46] narma opened #6 "Subtyping issue"
Hey Kit! Awesome project!

I faced with following issue, see scastie for example https://scastie.scala-lang.org/narma/qgHyrr4dSKmPnDaRPKTiYg/12

Without zio-magic (using native zio `>>>`, `++` and so on) it works normally without `asInstanceOf`.
Issue is zio-magic doesn't correctly handling subtyping of resulting layer.

`Database.fromDatasourceAndErrorStrategies` returns
[code]

but service requi

[2021-01-22 15:47] DamianReeves opened #7 "Scala 2.11 and Scala 2.12 support"
Is it possible to add these platforms too?

[2021-01-22 16:36] kitlangton commented on #6
Thanks @narma! I'd suspected there may be some difficulties w/ parameterized types and subtyping. This is example is awesome to have! I'll take a look and see what I can do :) Definitely don't want to have users need to call `asInstanceOf`, though I'm glad it works temporarily.

[2021-01-22 16:37] kitlangton commented on #1
Happy w/ the progress so far. Going to rely on issue reports from real users for now :)

[2021-01-22 16:37] #1 closed

[2021-01-22 18:25] kitlangton commented on #6
@narma Pushing version `0.1.5` right now! Fixes it on my end, but I'll keep this open until you can confirm :)

[2021-01-22 19:08] narma commented on #6
Confirmed! Thanks! :)

[2021-01-22 19:09] #6 closed

[2021-01-22 23:53] chaitanyawaikar commented on #7
Do we want to add the some kind of mapping between sbt versions and scala versions ?
For example :-
ScalaVersion => Sbt Version
"2.10" => "0.13.18"
"2.12" => "1.2.8"

Or just simply cross version compatibility ?

[2021-01-23 00:01] kitlangton commented on #7
@chaitanyawaikar I believe just cross-version support. Unless the sbt will matter as well—I'm not too experienced w/ the pleasures of cross-building :)

[2021-01-23 00:11] chaitanyawaikar commented on #7
I can pick this issue and try to add this compatibility.

[2021-01-23 00:16] kitlangton commented on #7
@chaitanyawaikar Ah! Thank you so much howeverrr... I actually just got this to work!

[2021-01-23 00:17] kitlangton commented on #7
I did have to mangle some code though. I'll push up my changes :) If you'd like to take a look at the commit see if I've royally messed something up :)

[2021-01-23 00:18] chaitanyawaikar commented on #7
Sure, you can let me know the branch name, I can review it :)

[2021-01-23 00:19] kitlangton commented on #7
@chaitanyawaikar ... `master` hahaha. Since I was just going solo for a while there, I was being a bit lazy w/ proper branch-form ;)
https://github.com/kitlangton/zio-magic/commit/088d23e4d20d71db743e22ea82513be58be88f64

[2021-01-23 00:50] kitlangton commented on #7
Done! `0.1.7` is released. Let me know if this doesn't work for ya @DamianReeves and we'll reopen it :)

[2021-01-23 00:50] #7 closed

[2021-01-23 08:04] narma opened #8 "Support MutableRunnableSpec"
Hey again, Kit!

I see that `RunnableSpec` is supported, by new shiny one `MutableRunnableSpec` not supported yet (directly).

It will requires zio >= 1.0.4, not problem for me, but I can say for me only.

WDYT?

[2021-01-23 17:07] kitlangton commented on #8
Oh! Didn’t even realize that was a thing! I’ll check it out :) I think it’s reasonable to support all the spec types. Shouldn’t be difficult.

[2021-01-23 18:19] narma commented on #8
I see, indeed, it's not an easy one :) So, I started using `ZLayer.fromMagic` and happy with it, still much simpler than the usual way :)

[2021-01-23 18:27] kitlangton commented on #8
@narma Glad there's some improvement there ;)
Meanwhile, I'll keep this issue open and let it gestate in the old subconscious—good luck, brain!

[2021-01-23 20:37] ruurtjan opened #10 "Installing following the README's instructions fails"
Hi Kit,

When I gave ZIO-magic a spin, I noticed that the README said to install with `"io.github.kitlangton" % "zio-magic" % "0.1.7",` instead of `"io.github.kitlangton" %% "zio-magic" % "0.1.7",`. The first fails, but the latter succeeds. Presumably because uploading to maven central might not be configured correctly, or the readme might just be incorrect.

Note that mvnrepository.com also has i

[2021-01-23 20:41] kitlangton commented on #10
Oh! Thanks for the report! Yeah, that's just a typo—I need to add that second `%` in there! Thanks for the issue.

As far as `mvnrepository` goes, I believe its indexing is delayed by ~24 hours or so. Everything seems to show up there eventually :)

[2021-01-23 20:42] #10 closed

[2021-01-24 01:51] kitlangton opened #11 "Ponder this: Show a warning/error if the same output is provided by multiple ZLayers"
Currently, if the same output is provided by multiple layers, the algorithm will simply select the first one provided.
It might be nice to know that you're providing a layer that will be ignored. However, this could also just be annoying.

[2021-02-04 14:04] Esardes opened #13 "Magic partial layer"
I would like to be able to write:
[code]

[2021-02-06 18:46] kitlangton commented on #13
Thanks for the suggestion! That's a great idea.

I could also list out the missing services when using the normal `ZLayer.fromMagic[Output]` constructor, so the user could copy-paste the remaining requirements from the compile error and swap in this two-parameter overload.

The one concern would be having a confusing number of options to choose from. I'm hoping to figure out the maximally useful s

[2021-02-06 18:52] kitlangton commented on #13
I'm going to give it a whirl though :)

[2021-02-08 21:50] heaven-born opened #14 "Magic for ZManaged"
zio-magic is an extremely helpful! I would love to have the same magic for `ZManaged`. Converting `ZManaged` to `ZIO` in order to provide Env. is not always an option.

[2021-02-09 01:36] kitlangton commented on #14
Oh! Duh! I seldom use ZManaged directly, so I completely forgot about it. Thanks for reminding me :)

[2021-02-09 01:36] kitlangton commented on #14
I should do the same with ZStreams now that I think about it.

[2021-02-12 07:09] octavz commented on #13
I came here to ask for same feature :), would be indeed very cool to have partial layer building.

[2021-02-12 18:36] #13 closed

[2021-02-12 18:37] kitlangton commented on #13
@octavz @Esardes Your hero has arrived (in @senia-psm)!
I'll push to maven this evening :)

[2021-02-12 18:41] senia-psm opened #16 "Add project to scala-steward repos"
Scala-steward is a bot that helps you keep your Scala projects up-to-date.

Add project to this file: https://github.com/scala-steward-org/repos/blob/master/repos-github.md

[2021-02-12 18:44] senia-psm commented on #13
@kitlangton would you like some help with configuring publishing to maven from github actions? It allows you to publish a new version by creating a new tag.

[2021-02-12 18:45] kitlangton commented on #13
That would be amazing @senia-psm :)

[2021-02-12 18:50] senia-psm opened #17 "Configure publishing with github actions"
Configure publishing as described here: https://github.com/olafurpg/sbt-ci-release

See this PR for example: https://github.com/senia-psm/zio-test-akka-http/pull/7/files

Basically all you have to do is to add your sonatype credentials and PGP key to github secrets.

After that all you have to do to publish a new version `A.B.C` is to create a tag `vA.B.C`

[2021-02-12 18:51] senia-psm commented on #13
@kitlangton let's discuss it here: #17
I can't configure it for you - you have to add your credentials to github secrets.

[2021-02-12 23:09] kitlangton commented on #17
Thank you so much. I'm going to give this ago over the weekend.
Currently simultaneously working and preparing for a conference talk I have to give tomorrow morning, so apologies for my slow responses 😅 But this is going to be _so_ much nicer than manual deploys. I always wondered how some projects deployed the SNAPSHOTs with commit hashes.

[2021-02-13 06:32] senia-psm commented on #17
Np. If you have any questions - I will be happy to help. Unfortunately I can't make these changes as a PR - it involves your credentials.

[2021-02-16 17:53] senia-psm commented on #17
@kitlangton if you are ok with giving me a user token for your sonatype account together with access to github secrets for this repo (for a day or less)  and publishing artefacts with pgp signature generated by me - I can configure publishing.

[2021-03-04 01:43] sideeffffect opened #30 "[Suggestion] Add support for printing Graphviz DOT"
It could be worthwhile to support another way to "visualize" the graph: print Graphviz DOT description.
https://graphviz.org/doc/info/lang.html
https://graphviz.org/pdf/dotguide.pdf

Once the DOT description is available, people can turn them into image.

Having a nice image could be useful for having and overview of the modules as they are, or if debugging an issue of missing module(s).

And ther

[2021-03-04 01:44] kitlangton commented on #30
Oh! That's an awesome idea :)

[2021-03-04 04:36] #11 closed

[2021-03-04 04:36] kitlangton commented on #16
I did it :D

[2021-03-04 04:36] #16 closed

[2021-03-04 06:07] derpyplops opened #31 "[ Suggestion ] Change example to be baking a cake"
A delicious ZLayer-cake that is.

[2021-03-04 06:51] kitlangton commented on #31
The pun is too strong too deny. :) Updated!

[2021-03-04 06:51] #31 closed

[2021-03-11 23:54] SelwynL opened #38 "Missing 0.1.11 release for Scala 2.12"
Noticed that for Scala 2.13 Nexus has version `0.1.11` available, however for Scala 2.12 Nexus only has version `0.1.10` as the latest: https://repo1.maven.org/maven2/io/github/kitlangton/zio-magic_2.12/

[2021-03-12 00:16] kitlangton commented on #38
@SelwynL Good Catch! I forgot to type the `+` before the `publishSigned` command! Whoopsie. I'll get that out by tonight :)

[2021-03-12 03:33] alphaho commented on #30
My two cents in this topic, there's a more light-weight alternative that I usually used to generate diagrams in my previous projects: https://github.com/mermaid-js/mermaid

It just requires a `<script>` tag to import the mermaid-js and the diagram's text description. This makes it quite easy to embed into different places.  And IMHO, the [text syntax](https://mermaid-js.github.io/mermaid/#/n00b-sy

[2021-03-12 07:10] kitlangton commented on #38
@SelwynL Updated everything to `0.1.12` just because ;P

[2021-03-12 07:10] #38 closed

[2021-03-12 07:10] kitlangton commented on #38
Let me know if you have any issues :)

[2021-03-12 07:21] SelwynL commented on #38
Hurray! Loving zio-magic btw, it has already saved our ZIO projects some headaches!

[2021-03-12 18:37] sideeffffect commented on #30
@alphaho That's a very good idea! With mermaid, `zio-magic` could only spit out a small html file with the graph description and link to the JavaScript library which would do the rest of the job.

Btw, we're using Mermaid in ZIO Prelude:
https://github.com/zio/zio-prelude/blob/master/docs/overview/diagrams.md
https://zio.github.io/zio-prelude/docs/overview/overview_diagrams

[2021-03-12 18:37] sideeffffect commented on #30
@alphaho That's a very good idea! With mermaid, `zio-magic` could only spit out a small html file with the graph description and a link to the JavaScript library which would do the rest of the job.

Btw, we're using Mermaid in ZIO Prelude:
https://github.com/zio/zio-prelude/blob/master/docs/overview/diagrams.md
https://zio.github.io/zio-prelude/docs/overview/overview_diagrams

[2021-03-12 19:45] sken77 opened #39 "Issues with debug formatting"
Hi, we love this library and makes our life so much easier when dealing with Layers, but when debugging we ran into a wrapping issue

![image](https://user-images.githubusercontent.com/22631338/110988940-091fb180-8326-11eb-86fd-2209bcf5d0b1.png)

Manage to fix the formatting issue by copy pasting it to a text file and shifting everything below the first line to the right

![image](https://user-ima

[2021-03-13 05:27] adrianfilip opened #41 "Incompatible with zio-prelude:1.0.0-RC3"
If I have
"dev.zio"  %% "zio-prelude"  % "1.0.0-RC3"
in my dependencies it fails with the below error.

The scala version used is 2.13.4.

This doesn't happen with RC1.

`scalac: Error: 'zio.prelude.TraversableSyntax$TraversableOps zio.prelude.package$.TraversableOps(java.lang.Object)'
java.lang.NoSuchMethodError: 'zio.prelude.TraversableSyntax$TraversableOps zio.prelude.package$.TraversableOps(ja

[2021-03-13 05:32] kitlangton commented on #41
Yeah, some things I was using in Prelude have changed :'(

[2021-03-13 05:33] kitlangton commented on #41
I actually don't need the dependency. I'll copy my implementation over from the ZIO 2.0 branch once that's public—should be within a week or so?

[2021-03-13 05:33] kitlangton commented on #41
Or, of course, a PR is welcome :) I just have to buckle down on the 2.0 changes at the moment.

[2021-03-13 05:38] adrianfilip commented on #41
I'll give it a shot.  :)

[2021-03-13 17:28] kitlangton commented on #41
Looks like RC-3 just came out, so says the Scala Steward. Perhaps that's easier to integrate?

[2021-03-13 17:50] adrianfilip commented on #41
I saw that and am using RC3 for the integration.  I'll change the title of the ticket to avoid confusion.
I think the code changes are done but some tests are failing so I have to look into that a bit.

[2021-03-16 17:39] kubukoz opened #43 "Add `ZLayer.fromCustomMagic`"
Like `ZLayer.fromSomeMagic`, but with the "remaining" environment fixed to `ZEnv` (like `.provideCustomMagicLayer`). That would be a nice addition :)

[2021-03-16 19:25] kitlangton commented on #43
Gonna be in ZIO 2.0 😝 I'm a little behind back porting that stuff. But will once that's settled.

[2021-03-19 07:11] nktpro opened #44 "[bug] provideMagicLayer / provideSomeMagicLayer evaluate arguments multiple times for the same type"
`provideMagicLayer` and `provideSomeMagicLayer` currently has a bug/limitation which they will evaluate the provided  argument expressions (the layers) multiple times (lazily) if the same type is a shared dependency of multiple other layers (or the effect itself).

Here's a reproducer:

[code]

Notice that the expression containing the `println` will be executed 3 times. In practice this led to cr

[2021-03-20 02:04] kitlangton commented on #44
Thanks for the report! I have actually fixed this issue in the code I've written in my PR against ZIO 2.0. Every layer passed into the method will be memoized. Obviously, it's also important to back port that functionality here. I've just been a bit busy working on the ZIO 2.0 integration. For the short term, I'd recommend pulling the layer definition into a `val` above where you use it, as you've

[2021-03-23 06:23] kitlangton commented on #44
Alrighty! I back ported this goodness :) Layers passed into the macro methods will be automemoized! It's in `0.2.0`

[2021-03-23 06:23] #44 closed

[2021-03-23 06:23] kitlangton commented on #39
I believe I've fixed this in 0.2.0! Give it a whirl and let me know :)

[2021-03-23 06:23] #39 closed

[2021-03-23 06:24] kitlangton commented on #41
I've actually back ported my implementation from ZIO 2.0, which doesn't have any dependencies on prelude :) So huzzah!

[2021-03-23 06:24] #41 closed

[2021-03-23 06:28] kitlangton commented on #5
This will be part of the ZIO 2.0 changes. And I'm guessing if people are going to use Scala 3, they're going to want to use ZIO 2.0 as well :D

[2021-03-23 06:28] #5 closed

[2021-03-23 09:30] vladimirkl opened #45 "Extract Spec related magic into separate module"
Currently `zio-magic` brings test dependencies into main class path - including `zio-test` and `zio-test-sbt`. Avoiding this  requires excluding transitive dependencies in sbt. So it looks to be a good idea to move all `ZSpecProvide*` extensions to separate module like `zio-magic-test`

[2021-03-23 12:14] nktpro opened #46 "0.2.0 macro expansion creates unused ZLayer.requires[Any] val, which triggers scalac warnings"
Thanks @kitlangton for back-porting layer memoization, it's a life-saver!

It did create a new issue: there is now a `val layer$macro$1 = ZLayer.requires[Any];` val generated, which will trigger scalac warnings since it's unused. Here's a reproducer:

Given this scalac options in `build.sbt`:

[code]
And this app:

[code]

The macro will expand into:

[code]

Looks like `Any` should just be ignore

[2021-03-23 15:42] kitlangton commented on #46
Great catch! Thanks! I’ll take care of this later.

[2021-03-23 15:43] kitlangton commented on #45
Great point. I can pull that out :-)

[2021-03-23 21:07] kitlangton commented on #46
Alrighty! @nktpro Try `0.2.1` :)

[2021-03-24 02:22] nktpro commented on #46
Confirmed `0.2.1` worked like a charm, thanks @kitlangton, you totally rock!

[2021-03-24 02:28] kitlangton commented on #46
Wahoo!

[2021-03-24 02:39] nktpro commented on #46
Sorry @kitlangton  I spoke too soon :(, there's another similar case with `injectSome[T]`

[code]

would expand into:

[code]

Looks like that first `ZLayer.requires` val just need to be used at the end `++` as well

[2021-03-24 02:56] kitlangton commented on #46
:D Another good catch! Doh! Thanks for all these macro expansions. How are you doing that if I might inquire 😆

[2021-03-24 03:13] nktpro commented on #46
@kitlangton Oh I just added `"-Ymacro-debug-lite"` to `scalaOptions`, scary output for sure :))

Also hopefully this PR will catch all of those in the future https://github.com/kitlangton/zio-magic/pull/48

[2021-03-24 06:37] kitlangton commented on #46
Thanks @nktpro!
I'm pushing the next version now. Hopefully it fixes the last of these 😆

[2021-03-24 08:49] nktpro commented on #46
0.2.2 did it! I don't see any more of those so will close this now.

[2021-03-24 08:49] #46 closed

[2021-03-30 00:31] kubukoz opened #51 "It is no longer possible to automatically forward a dependency"
Hi! In 0.1.x, I was able to do this:

[code]

if I provided `ZLayer[A, Nothing, B]`, `ZLayer[A, Nothing, C]` and `ZLayer[A, Nothing, D]`.

After the upgrade to 0.2.2 the code stopped compiling: there's a type mismatch on the opening paren (I suppose this is within the macro).

This might be intended, just thought it would be nice mentioning somewhere in the release notes or something :)

[2021-03-30 00:55] kitlangton commented on #51
Oh! Not intended. Thanks for the report. I’ll fix this ;)

[2021-03-30 20:00] kitlangton commented on #51
@kubukoz Looks like sonatype forgot me keys. It's up now! :)

[2021-03-30 20:40] kubukoz commented on #51
Works like a charm :)

[2021-03-30 20:41] kubukoz commented on #45
I'm gonna miss the "magic" word, just look at how glorious the issue titles are.

[2021-03-30 21:07] kitlangton commented on #45
`zio-business-synergy` is the new name.

[2021-04-02 20:49] vladimirkl opened #53 "ZLayer.wire macro fails on compile time"
I found an interesting case and extracted it from real project:
[code]

[2021-04-02 20:52] vladimirkl commented on #53
This case should be supported, for example it's useful for mixing layer that runs some background process, but not directly used in program.

[2021-04-02 21:40] kitlangton commented on #53
Ah, yes. @hmemcpy reached out to me with a similar issue.
I was leaning towards reporting a specific/readable error when you provide excess layers.
Though it's very useful to use a layer as a background process as you mentioned. However, maybe that's an opportunity for a more specific helper method on ZIO, a sort of managed `tap`.

[2021-04-03 08:29] vladimirkl commented on #53
Please note that excess dependency works until it depends on others - so if we define it as `val live: ULayer[C]=???` it will compile. I think that automatic composition should not be less powerful than manual. Personally I use such things in integration tests - to refactor setup / cleanup of some external resource as layer and reuse between specs

[2021-04-10 10:29] alphaho commented on #30
Or we may even only generate a link to the mermaid online editor by Base64 encoding the payload like: `https://mermaid.ink/img/<Base64-encoded-payload>`

The payload from the above image is like this:

[code]

[2021-04-13 03:06] kitlangton commented on #53
Pushed a fix :) It should now build the extra, side-effecting layer as well as prompt you for its transitive dependencies. Publishing to Sonatype now. Let me know if it works for ya 🤗

[2021-04-13 07:46] hmemcpy commented on #53
I confirm the latest fix is MAGICAL! It solves my issue (which is very similar to @vladimirkl's). So thank you :))

BTW, this should be fixed for ZIO 2.0, right?
![image](https://user-images.githubusercontent.com/601206/114515846-78e6cc00-9c45-11eb-93fe-691d26ad6a0d.png)
(the `package` string, it should be `sesv2.live`)

[2021-04-13 15:08] kitlangton commented on #53
It should be. I have some tests for that. It’s surprisingly difficult to print the actual name in Scala 2. I’ll check that out :)

[2021-04-13 15:10] #53 closed

[2021-04-13 15:54] vladimirkl commented on #53
Also works for me, thank you!

[2021-04-19 13:51] danslapman opened #59 "Significant perfomance regression in 0.2.4"
Hi! After 0.2.3 -> 0.2.4 upgrade I experienced a significant increase of startup (_not compile_!) time (6-7 times) in application with >250 layers. Currently I can't reproduce this with reasonably short example, I will continue investigation

[2021-04-19 14:06] danslapman commented on #59
Can't try 0.2.5 due to zio/zio#4809 (it forces to keep zio 1.0.1)

[2021-04-24 22:59] kitlangton commented on #59
Are you still experiencing this? It's very strange that this would occur. Perhaps there are layers that aren't being memoized. Are all your layers `val`s?

[2021-04-26 11:07] vladimirkl opened #63 "Incorrect partial dependencies order"
I found that `injectSome` behaves differentially from `provideSomeLayer` when overriding some of dependencies. This is rare scenario, but it can be useful in tests. Here is spec illustrating the issue:

[code]

[2021-04-26 12:18] danslapman commented on #59
I'm forced to stay on 0.2.3 due to this issue. Some of my layers are `def`s, but all layers passed to `fromMagic` are `val`s (some layers are still composed by hand)

[2021-04-28 04:00] kitlangton commented on #59
New version should 🤞 fix this hopefully. `0.3.0`

[2021-04-28 07:59] danslapman commented on #59
Thank You @kitlangton! I will take a try immediately after zio/zio#4809 fixed

[2021-04-29 05:17] RicoGit opened #66 "Unused layers"
Is it possible to fail compilation or issue a warning when some of the provided layers are unused?
The case when I added a redundant layer to wiring or one of the layers not needed anymore etc.

I saw `local val layer$macro$20 in value layer is never used` but it's quite optimistic sometimes.
I mean there are many false-positive cases when unused layers exist, but the wiring is ok.

[2021-04-29 06:06] kitlangton commented on #66
Oh, I actually just added that feature in `0.3.0`. (Though there is a chance that this could pop up anyhow, perhaps).
Have you tried running this with the newest release?

[2021-04-29 06:17] RicoGit commented on #66
I've double check, works fine for all my cases, thanks a lot!

[2021-04-29 06:17] #66 closed

[2021-04-29 07:00] kitlangton commented on #66
Woo hoo! That was great timing 😄

[2021-04-29 07:00] kitlangton commented on #66
I actually wasn't sure if I was making the right API decision, so I'm glad to some post-hoc validation😉

[2021-04-29 07:02] kitlangton commented on #63
Thanks for this example! I'll try and get to the bottom of it 😄

[2021-04-29 07:16] kitlangton commented on #63
Ah, just messed around with this (thanks again for the copy-pastable test). The new version `0.3.0` will actually error:

[code]

The message can probably be a bit clearer, but there's a new error emitted when multiple versions of the same layer are provided, which would happen in the implementation of both provideSome and injectSome, so I think this is correct.

[2021-04-29 08:39] vladimirkl commented on #63
Does it mean that dependency override will stop working at all? Actually there is no multiple versions here - we just override one version with another. Same as simply `B.live1 ++ B.live2` which returns only `B.live2`

[2021-04-30 04:28] kitlangton commented on #63
It's still possible to override, but in the case of this:

[code]
There's basically no point in providing B.live2, because it's going to be overridden later on. Not sure if that makes sense. But you can still do `(ZLayer.requires[A] ++ B.live2) >>> C.live` with inject.

[2021-05-06 17:05] ollyw opened #67 "Compilation failure with Error messages with JDK < 11"
Loving the library! Most of the time it works like magic, but when something is missing from the environment on JDK8, the macro fails during the compile stage. It seems to be because of dependency on String.isBlank which was introduced in JDK11.

Here is an example stack trace:
[code]

I am not sure whether JDK 8 is officially supported, but it sure would be useful for many existing projects, give

[2021-05-06 21:28] #67 closed

[2021-05-07 09:04] danslapman opened #70 "Provide a option to use +!+ underhood"
@artkostm mentioned in https://github.com/zio/zio/issues/4809#issuecomment-834142463 that using `+!+` instead of `++` can overcome "Defect in Has" issue. Please, consider adding a "+!+ mode" to zio-magic

[2021-05-07 21:16] danslapman commented on #70
@kitlangton 🤔 I should definitely check 0.3.2

[2021-05-07 21:29] kitlangton commented on #70
Hope that fixes it. If you have any reproducible examples, I could poke in further :)

[2021-05-11 08:29] danslapman commented on #59
Updated to 0.3.2, there is no startup time issue, but at some moment initialization crashes with

[code]

[2021-05-13 18:01] kubukoz opened #72 "Duplicate detection of forwarded dependencies"
Hi!

In 0.3.2, as I understand, this is an issue:

[code]

The macro says:

[code]

Which is true. However, `A` appears in both the input and output of the `x` layer, which zio-magic could probably always treat as "passing the same thing we got in the input" and allow.

If this change stays as it is, I'll need to do some extra work to migrate, which is fine, just wanted to make sure this was inten

[2021-05-20 16:46] ollyw opened #76 "Type aliases aren't resolved in parameterised services"
There is a corner case where type aliases for equivalent types are not treated the same. The equivalent using the standard ZIO provideLayer works fine.

A use case for such functionality is when the services are parametrised around a specific connection type, so transactions can be shared across functions via the environment, but the connection type can be swapped out for testing (e.g. postgres co

[2021-05-20 23:20] kitlangton commented on #76
Thanks for the report (and the code!)! I'll take a look :)

[2021-05-27 06:26] heksesang opened #78 "Scala 3 support"
It would be nice with a Scala 3 release of this library. :)

[2021-05-27 07:43] kitlangton commented on #78
I've actually implemented Scala 3 support—only that it's merged into the 2.0 branch of ZIO. I may be a bit too busy to back-port it to this library. The plan is to deprecate this lib once ZIO 2 is released (hoping for August?).

[2021-05-27 07:45] kitlangton commented on #78
But you—or anyone—is free to copy-pasta the implementation from there. There's just a lot of overhead maintaining all these versions of the same code 😄

[2021-05-27 19:41] heksesang commented on #78
If ZIO 2.0 releases in August, it should be fine for my use case. I don’t think I will be able to port our project to Scala 3 before that. And if the code can be copy-pasted from the ZIO 2.0 branch, I should be able to make a working solution until ZIO 2.0 releases if the release takes longer. :)

[2021-05-27 19:41] #78 closed

[2021-05-27 22:02] kitlangton commented on #78
Thanks for understanding @heksesang :)

[2021-06-29 17:51] scottweaver opened #91 "`injectSome` Dependencies Overridden/Ignored in Certain Cases in zio-test"
The second test case, ``ZIO Magic `injectSome` ``, below reproduces the issue where the injected live `Clock` seems to be correctly provided to the `TestService` as the `somethingMagical` method completes as expected.  However, the test case times out as the `sleep(2 seconds)` in `testCase` ends up being provided an instance of `TestClock` instead of `Clock.live`.

What is even weirder is the fact

[2021-07-01 03:29] kitlangton commented on #91
Thanks so much for this! Been a bit behind on my zio-magic maintenance. I'll check this out tomorrow and hopefully come up w/ a solution  :)

[2021-07-01 03:30] kitlangton commented on #8
Gonna close this one for now :)
I think just `ZLayer.wire` is the ticket, as you've described :)

[2021-07-01 03:30] #8 closed

[2021-07-01 03:33] kitlangton commented on #14
These will be implemented in the work for ZIO 2.0, but just going to recommend using `ZLayer.wire` for now and passing in the generated layer.

[2021-07-01 03:33] #14 closed

[2021-07-01 03:34] kitlangton commented on #17
I think I got this all working finally :D Thanks for your initial push, @senia-psm!

[2021-07-01 03:34] #17 closed

[2021-07-01 03:35] kitlangton commented on #30
I implemented this. I just haven't exposed the generated mermaid link in the debug output.
I need to figure out a good way to optionally show/hide it / some means of configuring the debug macro. Open to suggestions for an API for this :)

[2021-07-01 03:36] #43 closed

[2021-07-01 03:36] kitlangton commented on #59
Any luck with the newer versions?

[2021-07-01 03:37] #63 closed

[2021-07-01 03:39] kitlangton commented on #72
I'll fix this. Basically, I'll prune each layers inputs from its outputs, so it doesn't consider these "pass-through" layers as candidates—or worse, as circular dependencies.

[2021-07-01 06:51] danslapman commented on #59
Ah, sorry, it was, in fact, a `++`-related issue, now we're fine, let's close this)

[2021-07-01 06:51] #59 closed

[2021-07-01 10:41] kubukoz commented on #72
Sounds great :) thanks for looking at this

[2021-07-01 12:06] sideeffffect commented on #30
Splendid work, Kit!
But I would be worried that (at least in some circumstances) the generated link would be too big, which would make it impractical to give it to users.
What do you think about generating a small HTML file to `target/` and printing a link to that instead?

[2021-07-01 19:47] scottweaver commented on #91
Gained a little more insight.  If you move the `injectSome` to be called on Spec instead of directly on the effect, it works just fine:
[code]

Looks like `injectSome` for specs is provided by `SpecLayersMacro` whilst effects get theirs from `LayersMacro` which is where I guess things treated differently.

[2021-07-10 08:54] ex0ns opened #97 "Scala 3 support"
Hello

Will this lib be updated with Scala 3 support ? Or should we wait for ZIO 2.0 that will include both zio-magic features and Scala 3 support ?

Thanks

[2021-07-10 13:05] kitlangton commented on #97
Currently, Scala 3 support is implemented in the `series/2.x` branch of ZIO. But yeah, to minimize the combinatoric explosion of maintenance efforts, I've so far been procrastinating until that is released :)

[2021-07-11 19:50] ex0ns commented on #97
Thanks, that definitely makes sense, in the meantime maybe that it could work by using the

[code]

In mill, or something similare with SBT, in order to use 2.13 lib in Scala 3.
I think you can close this issue

[2021-07-11 20:43] kitlangton commented on #97
Ah, due to this library's macro-based nature, I don't think that will work. I'm going to look into possibly opening the zio-magic features into `ZIO 1.0`, technically the should work. I just have to be careful around maintaining bin-compat for whatever decisions are made once introduced.

[2021-07-11 20:43] #97 closed

[2021-07-12 20:17] #76 closed

[2021-07-12 20:17] kitlangton commented on #76
Sorry that took forever. Just fixed it :)

[2021-07-12 22:18] kitlangton commented on #91
Fixed this! Thanks so much for this detailed—and hilarious—suite 🥳 Twas a subtle bug w/ layer construction.

[2021-07-12 22:21] #91 closed

[2021-07-13 10:54] ollyw commented on #76
I just tested and it works fine for the original case. Thanks for your ongoing work on the library :heart:

[2021-07-13 16:04] kitlangton commented on #76
Thanks :)

[2021-08-13 08:56] cipriansofronia opened #103 "Magic for ZStream"
It would be nice to have `.inject` and friends for streams as well.
Please close this if it's already baked into ZIO 2.0 😅
Thank you for this great lib! 🙇🏻

[2021-08-13 14:04] kitlangton commented on #103
<img width="680" alt="image" src="https://user-images.githubusercontent.com/7587245/129369108-91aab9af-fe67-4211-9d79-d613ad543ec7.png">
🥳
Yup! All baked into ZIO 2.0 😄

[2021-08-13 14:04] #103 closed

[2021-08-24 04:14] kitlangton commented on #30
@sideeffffect https://github.com/zio/zio/pull/5449
🥳

[2021-08-30 16:08] Space-hero opened #111 "Can't wire if have several implementations of same Foo[F[_]]"
As it seems, we can't wire all components, if inside braces we have several layers for different F's in Foo:
https://scastie.scala-lang.org/L481koRoTX6TevvIIpAOcg

[2021-08-30 16:44] kitlangton commented on #111
Ah, instead of:
[code]
You need to write it like this: 😄
[code]

[2021-08-30 16:45] kitlangton commented on #111
Also, with ZIO 2.0, `inject` and `wire` are built in :), so you can do this: https://scastie.scala-lang.org/Qze6pZ2oQWaEZQaHJQLteQ

[2021-08-30 20:52] #111 closed

[2021-08-30 20:53] kitlangton commented on #45
I don't think I'll get around to this for `zio-magic`, however it's all properly extracted in `ZIO 2.0` (which has some milestones released).

[2021-08-30 20:53] #45 closed

[2021-08-30 20:53] kitlangton commented on #30
Closing, due to having implemented in ZIO 2.0

[2021-08-30 20:53] #30 closed

[2021-11-23 12:52] octavz opened #129 ""Contains non-Has types:" is fired when the type is a `Has`"
Hi,

Please see:

https://scastie.scala-lang.org/rHC7cDL5RjSb0XSvzzjR4A

same code:

[code]

I expect this code to compile, but it says `Deps` is not a `Has` which clearly is.

Thank you

[2021-11-23 12:53] octavz commented on #129
I didn't test with zio 2.0

[2021-11-24 19:30] soujiro32167 opened #130 "Scala 3 artifact"
[code]
=[

[2021-11-24 19:42] kitlangton commented on #130
Currently this implementation lives in ZIO 2.0. and I don't have enough at the moment to port it (prepping for conference and ZIO 2.0 and the day job 😄), though if anyone wants it for ZIO 1.0, I'd happily merge a PR.

[2021-11-24 20:06] soujiro32167 commented on #130
My mistake: I saw a [scala 3 in the build](https://github.com/kitlangton/zio-magic/blob/master/build.sbt#L4) and assumed this compiled/released against scala 3 x_x

Good luck with the conference! Excited to see what you come up with =]

[2021-11-24 20:31] kitlangton commented on #130
:D I think that was placed there aspirationally at some point. Thanks for understanding! 😄 I should add a note to the Readme for now

[2021-11-24 20:31] #130 closed

[2021-11-24 20:32] kitlangton commented on #129
Ah yeah, this is fixed with ZIO 2.0 (well, especially because we've obviated `Has`). `zio-magic` for 1.0 is not great at dealing with type parameters.

[2021-12-03 09:08] octavz commented on #129
perhaps is fixable, until we get to use zio 2 we're still stuck with zio-magic.

[2022-02-09 18:13] strokyl opened #144 "@@ samples(N) after injectSomeShared is ignored"
[code]

When running this test, I got way too much printing for:

- sample(1) after injectSomeShared
- final sample(2) after injectSomeShared

[2022-03-29 22:11] domdorn opened #149 "release version for zio-1.0.13"
I ran into problems cause this library is still depending on zio 1.0.12 and pulling in 1.0.12 versions of zio-macros that for some reason didn't get replaced with the 1.0.13 version by sbt. I ended up having two versions of zio-test and their zio-test-macros and got runtime errors in IntelliJ when trying to run my tests.

Please release a version that depends on 1.0.13 so others don't run into the

[2022-04-13 11:33] kitlangton commented on #149
Sorry for missing this. Just released for 1.0.14 though :)

[2022-04-13 11:33] #149 closed

[2022-08-09 11:03] notxcain opened #163 "Issue with type members"
[code]

This explodes with

[code]

[2022-08-09 11:25] notxcain commented on #163
Hm. It's not even about `zio-magic`.
Plain wiring also fails
[code]

[2022-08-09 11:29] notxcain commented on #163
Superseded by https://github.com/zio/zio/issues/7184

[2022-08-09 11:29] #163 closed